<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit a Fruit</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
<body>
    
    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
    </a>
    
    <!-- update the header -->
    <h1>Edit <%= fruit.name %></h1>
    <!-- updated form -->

<form action="/fruits/<%=fruit._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= fruit.name %>" />
  
    <div class="checkbox-div">
        <label for="ready-to-eat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="ready-to-eat" />
    </div>

    <button type="submit">Update Fruit</button>
</form>
    
  </body>